<html>
    <h1><%= err%></h1>
    <a href="/register" style="font-size: 30px; text-decoration: none"><u>Register</u></a>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <a href="/login" style="font-size: 30px; text-decoration: none"><u>Login</u></a>
    
</html>