<html>
<head><link href="style.css" rel="stylesheet" type="text/css"></head>


<div class = "form">
  <form action="/login" method="POST">
    <div class = "title">Login</div>
    <div class = "input-container ic1">
      <input id ="email" class ="input" type = "email" name="email" placeholder = " " required/>
      <div class = "cut"></div>
      <label for="email" class="placeholder"> Email </label>
    </div>
    <div class = "input-container ic2">
      <input id ="password" class ="input" type = "password" name="password" placeholder = " " required/>
      <div class = "cut"></div>
      <label for="password" class="placeholder"> Password </label>
      <input type="checkbox" onclick="showPassword()"> 
      <lable for="checkbox" class="subtitle">Show Password</lable>
      <script>
        function showPassword() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>
    </div>  
    <button type="submit" class="submit">Login</button>
  </form>
  <a href="/register">Register</a>
</div>
</html>

